<div class="content-block">
    <form dir="<%= locals.dir %>" class="signup-form" id="signup" method="post">
        <h1>Sign up</h1>
        <label dir="<%= locals.dir %>" for="">Email: <input dir="<%= locals.dir %>" class="light-input input-text" type="email" name="email" placeholder="E-mail"></label>
        <label dir="<%= locals.dir %>" for="">Username: <input dir="<%= locals.dir %>" class="light-input input-text" type="text" name="username" placeholder="Username"></label>
        <label dir="<%= locals.dir %>" for="">Password: <input dir="<%= locals.dir %>" class="light-input input-text" type="password" name="password" placeholder="New Password"></label>
        <label dir="<%= locals.dir %>" for="">Confirm password: <input dir="<%= locals.dir %>" class="light-input input-text" type="password" name="confirmPassword" placeholder="Confirm Password"></label>
        <button class="signup-button" type="submit">signup</button>
        <a class="active-text" href="./login">already have an account?</a>
    </form>
</div>